<div class="card-category h-50" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
<h1>My Lists</h1>
</div>
<br>
<div class="container">


<br>
<% @lists.each do |list| %>


<h6>
<%= link_to list.name, list%>
</h6>

<% end %>

<br>
<div class="btn btn-warning">
<%= link_to "create a movie list", new_list_path %>
</div>

</div>
