<br>
<div class="container">
<h1>Create new list</h1>
<br>

<div>

<%= simple_form_for(@list) do |form| %>
  <%= form.input :name %>
  <%= form.button :submit %>
  <%= form.input :photo, as: :file %>
<% end %>

</div>

</div>
