<br>
<div class="container">
<h1>Create new boomark</h1>

<div >

<%= simple_form_for [@list, @bookmark] do |form| %>
  <%= form.input :comment %>
  <%= form.association :movie%>

  <%= form.button :submit %>
<% end %>

</div>

</div>
